{% extends 'bases/base.html' %}



{% block content %}
<div>
    <form method="POST" enctype="multipart/form-data">
        Nome: <input type="text" name="nome" required><br>
        Posição: <input type="text" name="posicao" required><br>
        Idade: <input type="number" name="idade" required><br>
        Clube: <input type="text" name="clube" required><br>
        Nação: <input type="text" name="nation" required><br>
        <input type="submit" value="Cadastrar">
    </form>
</div>
{% endblock %}