* {
    margin: 0;
    padding: 5px;
    border: 1px solid green;
}
body{
    margin: 0 auto;
}
header {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
main {
    margin: 0 auto;
    border-radius:8px;
    display: flex;
    width: 98%;
    height: 580px;
}
.menu {
    margin: 5px;
    width: 20%;
    height: 97%;
}
.menu a {
    background: greenyellow;
    box-shadow: 6px 3px 2px green;
    display: flex;
    margin: 4px;
    justify-content: left;
    padding: 0;
    text-decoration: none;
    border-radius: 5px;
    width: 90%;
}
.menu li{
    font-size: 20px;
    width: 99%;
    list-style-type: none;
}
.content {
    margin: 5px;
    width: 80%;
    height: 97%;
}
footer {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}